# ===============================
# Python
# ===============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# ===============================
# Ambiente virtual
# ===============================

venv/
.env/
.env.*
.venv/

# ===============================
# Arquivos de ambiente
# ===============================

.env

# ===============================
# Banco de dados
# ===============================

dispositivos.db

# ===============================
# VSCode / IDEs
# ===============================

.vscode/
.idea/

# ===============================
# Sistema operacional
# ===============================

.DS_Store
Thumbs.db

# ===============================
# Raspberry / Linux
# ===============================

*.swp
*.swo